<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.becurious.system.mapper.UserMapper">
    <update id="updateUser" parameterType="cc.becurious.system.domain.SysUser">
        update sys_user
        <set>
            <if test="username != null and username != ''">user_name = ${username}</if>
            <if test="password != null and password != ''">password = ${password}</if>
            <if test="loginDate != null">login_date = #{loginDate},</if>
        </set>
    </update>



    <select id="selectUserById" resultType="cc.becurious.system.domain.SysUser">
        select * from sys_user where id = #{id}
    </select>

    <select id="selectUserByUserName" resultType="cc.becurious.system.domain.SysUser">
        select * from sys_user where username = #{username}
    </select>

</mapper>